.container {
    margin: 0 30px;

    // .first & {
    //     padding: 0px 30px;
    // }
}

@media (min-width: 567px) {
    .container {
        margin: 0 auto;
        max-width: 92%;
    }
}
.ndfHFb-c4YZDc-Wrql6b-AeOLfc-b0t70b {
    display: none;
}
